.pytest_cache/*
.vscode/*
__pycache__/*
byted_magellan_ai.egg-info/*
dist/*
.DS_Store

dataset/*
build/*
.idea/*
venv/*

magellan_ai/.DS_Store
magellan_ai/__pycache__/*

magellan_ai/ml/.DS_Store
magellan_ai/ml/__pycache__/*
magellan_ai/ml/mag_util/.DS_Store
magellan_ai/ml/mag_util/__pycache__/*
magellan_ai/ml/mag_case/__pycache__/*

magellan_ai/dl/.DS_Store
magellan_ai/dl/__pycache__/*
magellan_ai/dl/mag_dnn/__pycache__/*
magellan_ai/dl/mag_nlp/__pycache__/*






