dist/*
.vscode/*
dataset/*
build/*
magellan_ai/__pycache__/*
magellan_ai/dl/__pycache__/*
magellan_ai/dl/mag_dnn/__pycache__/*
magellan_ai/dl/mag_nlp/__pycache__/*
magellan_ai/ml/__pycache__/*
magellan_ai/ml/mag_util/__pycache__/*
magellan_ai/ml/mag_case/__pycache__/*

magellan_ml.egg-info/*
magellan_ai.egg-info/*
byted_magellan_ai.egg-info/*

.idea/*
venv/*
data/*

